.come-in {
    transform: translateY(350px);
    -o-transform: translateY(350px);
    -ms-transform: translateY(350px);
    -moz-transform: translateY(350px);
    -webkit-transform: translateY(350px);
    
    animation: come-in 0.4s ease forwards;
    -o-animation: come-in 0.4s ease forwards;
    -ms-animation: come-in 0.4s ease forwards;
    -moz-animation: come-in 0.4s ease forwards;
    -webkit-animation: come-in 0.4s ease forwards;
    
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.come-in:nth-child(odd) {
    animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
    -ms-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
}

.already-visible {
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    
    animation: none;
    -o-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
}

@keyframes come-in {
    to { 
        transform: translateY(0); 
        -o-transform: translateY(0); 
        -ms-transform: translateY(0); 
        -moz-transform: translateY(0); 
        -webkit-transform: translateY(0); 
    }
}
@-webkit-keyframes come-in {
    to { 
        transform: translateY(0); 
        -o-transform: translateY(0); 
        -ms-transform: translateY(0); 
        -moz-transform: translateY(0); 
        -webkit-transform: translateY(0); 
    }
}